@import "~../../../../styles/variables";

footer {
  .copyright {
    width: 100%;
    p {
      display: flex;
      height: 100px;
      text-align: center;
      background: #e9ecef;
      align-items: center;
      justify-content: center;
      font-size: $navbarHeading;
    }
  }
}
