.form > button:hover {
  background-color: rgb(0, 0, 196);
}
input[type="submit"] {
  background-color: #45a049;
}
input.ng-invalid.ng-touched {
  border: 2px solid red;
}
select.ng-invalid.ng-touched {
  border: 2px solid red;
}
input.ng-valid.ng-touched {
  border: 2px solid #45a049;
}
select.ng-valid.ng-touched {
  border: 2px solid #45a049;
}
.error {
  font-size: 20px;
}
