<nav>
  <div class="search-btn">
    <img src="../../assets/search-outline.svg" alt="search-outline" />
    <input type="text" placeholder="Search..." name="search" />
  </div>
  <div class="right">
    <div class="nav-links">
      <a
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="a-default-link"
        routerLink="/"
        >Home</a
      >
      <a routerLinkActive="a-default-link" routerLink="shop">Shop</a>
      <a routerLinkActive="a-default-link" routerLink="contact-us"
        >Contact us</a
      >
      <a routerLinkActive="a-default-link" routerLink="login">Login</a>
    </div>
    <div class="search-btn">
      <img src="../../assets/shopping-cart.png" alt="search-outline" />
    </div>
  </div>
</nav>
