.container-fluid a {
  font-size: xx-large;
}
.collapse ul li a {
  font-size: xx-large;
}
.d-flex input {
  font-size: x-large;
}
button {
  font-size: x-large;
}
.container-fluid {
  padding-right: calc(var(--bs-gutter-x) * 20.5);
  padding-left: calc(var(--bs-gutter-x) * 20.5);
}
.me-2 {
  margin-right: 1.5rem !important;
}
img,
svg {
  margin-left: 1.5rem;
}
.form-control {
  height: 55px;
}
.btn {
  height: 54px;
}
