<app-navbar></app-navbar>
<app-carousel></app-carousel>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ products?.imageUrl }}"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
